/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

*/

.page {
  display: grid;
  color: var(--accent-color, rgba(0, 0, 0, 1));
  gap: var(--body-gap, clamp(98px, 97.3px + 0.19vw, 100px));
  grid-template-rows: max-content max-content;
  justify-content: center;
  font-family: var(--text-font, "Inter-Variable"), sans-serif;
  font-variation-settings: "wght" var(--text-font-weight, 410);
  min-inline-size: 320px;
  min-block-size: 100dvb;
  background-image: var(
    --bg-image,
    repeating-linear-gradient(
      90deg,
      #d3d3d3,
      #d3d3d3 2px,
      transparent 2px,
      transparent 4px
    ),
    repeating-linear-gradient(
      to top,
      #d3d3d3,
      #d3d3d3 2px,
      transparent 2px,
      transparent 4px
    ),
    repeating-linear-gradient(#e7e7e7 0.01%, #1a1a1a 100%)
  );
  background-size: cover;
  background-attachment: fixed;
  padding: 100px 0;
}

.header {
  display: grid;
  gap: var(--gap-s, 20px);
  justify-content: center;
  align-content: center;
  background-color: var(--bg-color, #fff);
  place-items: center;
  text-transform: uppercase;
  font-family: var(--accent-font, "PressStart2P"), monospace;
  font-weight: var(--accent-font-weight, 400);
  padding-top: var(
    --header-padding-block,
    clamp(7.625rem, 7.45rem + 0.75vw, 8.125rem)
  );
  padding-bottom: var(
    --header-padding-block,
    clamp(7.625rem, 7.45rem + 0.75vw, 8.125rem)
  );
  padding-left: var(
    --header-padding-inline,
    clamp(1rem, -1.34rem + 10vw, 7.65625rem)
  );
  padding-right: var(
    --header-padding-inline,
    clamp(1rem, -1.34rem + 10vw, 7.65625rem)
  );
}

.header__title {
  font-size: var(
    --header-title-font-size,
    clamp(3.0625rem, 2.71rem + 1.5vw, 4.0625rem)
  );
}

.header__subtitle {
  font-size: var(
    --header-subtitle-font-size,
    clamp(0.875rem, 0.68rem + 0.85vw, 1.4375rem)
  );
}

.block {
  width: var(--block-width, clamp(375px, 260.56px + 30.52vw, 700px));
  border: 2px solid var(--accent-color, rgba(0, 0, 0, 1));
}

.content {
  display: grid;
  justify-items: center;
  gap: var(--gap-xl, 50px);
  background-color: transparent;
}

.content__list {
  display: grid;
  gap: var(--gap-xl, 50px);
}

.card {
  background-color: var(--bg-color, #fff);
}

.card__title {
  margin: var(--margin-xs, 4px) var(--margin-s, 10px);
  font-size: var(--title-font-size, 18px);
  font-variation-settings: "wght" var(--title-font-weight, 715);
}

.card__image-section {
  display: flex;
  position: relative;
}

.card__image {
  width: 100%;
  object-fit: cover;
  object-position: center;
}

.first__filter {
  filter: drop-shadow(4px 4px 10px var(--filter--accent-color, rgba(0, 0, 0, 0.5)));
}

.second__filter {
  filter: drop-shadow(4px 4px 10px var(--filter--accent-color, rgba(0, 0, 0, 0.5)));
}

.third__filter {
  filter: drop-shadow(4px 4px 10px var(--filter--accent-color, rgba(0, 0, 0, 0.5)));
}

.fourth__filter {
  filter: brightness(1.5) drop-shadow(4px 4px 10px var(--filter--accent-color, rgba(0, 0, 0, 0.5)));
}

.fifth__filter {
  filter: contrast(110%) brightness(0.9) drop-shadow(4px 4px 10px var(--filter--accent-color, rgba(0, 0, 0, 0.5)));
}

.sixth__filter {
  filter: contrast(120%) brightness(80%) drop-shadow(4px 4px 10px var(--filter--accent-color, rgba(0, 0, 0, 0.5)));
}

.seventh__filter {
  filter:
    contrast(90%)
    brightness(90%)
    blur(0.5px) drop-shadow(4px 4px 10px var(--filter--accent-color, rgba(0, 0, 0, 0.5)));
}

.eighth__filter {
  filter: grayscale(100%) drop-shadow(4px 4px 10px var(--filter--accent-color, rgba(0, 0, 0, 0.5)));
}

.card__image-label {
  opacity: 0.5;
  mix-blend-mode: hard-light;
  position: absolute;
  z-index: 1;
  right: 25px;
  top: 25px;
  color: var(--accent-color, rgba(0, 0, 0, 1));
  font-family: var(--accent-font, "PressStart2P"), monospace;
  font-weight: var(--accent-font-weight, 400);
  font-size: var(--label-font-size, 14px);
  text-shadow:
    -1px 0 var(--text-stroke-color, rgba(255, 255, 255, 1)),
    0 1px var(--text-stroke-color, rgba(255, 255, 255, 1)),
    1px 0 var(--text-stroke-color, rgba(255, 255, 255, 1)),
    0 -1px var(--text-stroke-color, rgba(255, 255, 255, 1));
}

@supports (
  (text-stroke: 1px var(--text-stroke-color, rgba(255, 255, 255, 1))) or
    (-webkit-text-stroke: 1px var(--text-stroke-color, rgba(255, 255, 255, 1)))
) {
  .card__image-label {
    -webkit-text-stroke: 1px var(--text-stroke-color, rgba(255, 255, 255, 1));
    text-stroke: 1px var(--text-stroke-color, rgba(255, 255, 255, 1));
    text-shadow: none;
  }
}

.card__content {
  padding: var(--padding-s, 25px);
  display: grid;
  gap: var(--gap-m, 25px);
}

.card__paragraph {
  line-height: var(--line-height-s, 116%);
  font-size: var(--text-font-size, 18px);
}

.card__buttons {
  display: flex;
  justify-self: end;
  gap: var(--gap-xs, 12px);
}

.card__icon-button {
  padding: 0;
  background-color: transparent;
  border: 2px solid #fff;
  transition: border 0.3s ease;
}

.card__icon-button:focus {
  outline: none;
}

.card__icon-button:focus-visible {
  border: 2px solid var(--accent-color, rgba(0, 0, 0, 1));
}

.like-icon {
}

.card__like-button {
  width: 130px;
  height: 38px;
}

.button__text {
  position: relative;
  mix-blend-mode: difference;
  z-index: 2;
  font-family: var(--accent-font, "PressStart2P"), monospace;
  font-weight: var(--accent-font-weight, 400);
  font-size: var(--button-font-size, 14px);
}

.content__button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 335px;
  height: 55px;
  gap: var(--gap-xxs, 8px);
}

.button--animated {
  color: var(--difference-color, #fff);
  position: relative;
  transition: box-shadow 0.3s ease;
  overflow: hidden;
}

.card__like-button:focus,
.content__button:focus,
.dialog__button:focus {
  outline: none;
  box-shadow: 2px 2px 0px 0px var(--accent-color, rgba(0, 0, 0, 1));
}

.card__like-button::before,
.content__button::before,
.dialog__button::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: var(--accent-color, rgba(0, 0, 0, 1));
  transform-origin: left;
  transition: transform 0.5s ease-in-out;
  transform: scaleX(0);
  z-index: 1;
}

.card__like-button:hover::before,
.content__button:hover::before,
.dialog__button:hover::before {
  transform: scaleX(1);
}

.content__button .floppy-icon {
  position: relative;
  z-index: 2;
  mix-blend-mode: difference;
  width: 21px;
  height: 21px;
}

dialog {
  background-color: var(--bg-color, #fff);
  display: none;
  border: 2px solid var(--accent-color, rgba(0, 0, 0, 1));
  padding: 30px;
  width: 353px;
  overflow: hidden;
}

dialog[open] {
  display: grid;
  justify-content: center;
  align-items: center;
}

dialog::backdrop {
  background-color: var(--accent-color, rgba(0, 0, 0, 1));
  opacity: 0.75;
}

.dialog__section {
  display: grid;
  justify-content: center;
  align-content: center;
  grid-template-columns: 293px;
  gap: var(--gap-l, 30px);
}

.dialog__content {
  display: grid;
  align-items: center;
  justify-items: center;
  gap: var(--gap-s, 20px);
  text-transform: uppercase;
  grid-template-columns: min-content 1fr;
}

.dialog__paragraph {
  font-family: var(--accent-font, "PressStart2P"), monospace;
  font-weight: var(--accent-font-weight, 400);
  font-size: var(--button-font-size, 14px);
  line-height: var(--line-height-m, 150%);
}

.dialog__button {
  text-transform: uppercase;
  width: 100%;
  height: 38px;
}

@media (max-width: 375px) {
  .page {
    display: none;
  }
}

@media (max-width: 700px) {
  .content__button {
    display: grid;
    grid-template-rows: min-content;
    align-items: baseline;
    justify-items: center;
    padding-top: 17px;
    width: 306px;
    height: 84px;
  }

  .content__button .floppy-icon {
    width: 28px;
    height: 28px;
  }

  dialog {
    width: 341px;
  }

  .dialog__section {
    grid-template-columns: 261px;
  }
}
