/* В этом файле будут храниться все значения переменных в исходном состоянии, а так же их изменения в зависимости от ширины устройства */
:root {
    --text-font: 'Inter-variable';
    --accent-font:' PressStart2P';
    --text-font-weight: 410;
    --header-font-weight: 715;
    --accent-font-weight: 400;
    --bg-image: 
    repeating-linear-gradient(90deg, #d3d3d3, #d3d3d3 2px, transparent 2px, transparent 4px),
    repeating-linear-gradient(to top, #d3d3d3, #d3d3d3 2px, transparent 2px, transparent 4px),
    repeating-linear-gradient(#e7e7e7 0.01%, #1a1a1a 100%);
    
    
}